<style>
    .filters{
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }
    .filter{
        text-align: center;
        width: 4rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter-icons{
        font-size: 1.4rem;
    }
    .filter-text{
        font-size: 0.7rem;
    }
</style>
<body>
    <div class="filters mt-3">
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-fire"></i></div>
            <div class="filter-text"><p>Trending</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-person-swimming"></i></div>
            <div class="filter-text"><p>Amazing pools</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-mountain-sun"></i></div>
            <div class="filter-text"><p>Top of the world</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-brands fa-fort-awesome"></i></div>
            <div class="filter-text"><p>Castles</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-campground"></i></div>
            <div class="filter-text"><p>Campling</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-hotel"></i></div>
            <div class="filter-text"><p>Mansion</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-snowflake"></i></div>
            <div class="filter-text"><p>Arctic</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-city"></i></div>
            <div class="filter-text"><p>Top cities</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-person-skiing"></i></div>
            <div class="filter-text"><p>Skiing</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-umbrella-beach"></i></div>
            <div class="filter-text"><p>Beach</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-van-shuttle"></i></div>
            <div class="filter-text"><p>Camper vans</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-golf-ball-tee"></i></div>
            <div class="filter-text"><p>Golfing</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-bed"></i></div>
            <div class="filter-text"><p>Rooms</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-sailboat"></i></div>
            <div class="filter-text"><p>Boats</p></div>
        </div>
        <div class="filter">
            <div class="filter-icons"><i class="fa-solid fa-water"></i></div>
            <div class="filter-text"><p>Lakes</p></div>
        </div>
    </div>
</body>