<% layout("/layouts/boilerplate") -%>
    <style>
        .filters{
            display: flex;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            height: 5rem;
        }
        .filter{
            text-align: center;
            width: 4rem;
            opacity: 0.7;
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }
        .filter-icons:hover{
            font-size: 1.8rem;
        }
        .filter-icons{
            font-size: 1.4rem;
        }
        .filter-text{
            font-size: 0.7rem;
        }
        .tax-price{
            display: none;
        }
        .tax-switch{
            border: 1px solid black;
            height: 2.5rem;
            display: flex;
            width: 15rem;
            align-items: center;
            border-radius: 0.6rem;
            justify-content: center;
            margin-top: 0.3rem;
        }
    </style>
    <body>
        <div class="filters mt-3">
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-fire"></i></div>
                <div class="filter-text"><p>Trending</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-person-swimming"></i></div>
                <div class="filter-text"><p>Amazing pools</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-mountain-sun"></i></div>
                <div class="filter-text"><p>Top of the world</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-brands fa-fort-awesome"></i></div>
                <div class="filter-text"><p>Castles</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-campground"></i></div>
                <div class="filter-text"><p>Campling</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-hotel"></i></div>
                <div class="filter-text"><p>Mansion</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-snowflake"></i></div>
                <div class="filter-text"><p>Arctic</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-city"></i></div>
                <div class="filter-text"><p>Top cities</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-umbrella-beach"></i></div>
                <div class="filter-text"><p>Beach</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-van-shuttle"></i></div>
                <div class="filter-text"><p>Camper vans</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-golf-ball-tee"></i></div>
                <div class="filter-text"><p>Games</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-bed"></i></div>
                <div class="filter-text"><p>Rooms</p></div>
            </div>
            <div class="filter">
                <div class="filter-icons"><i class="fa-solid fa-sailboat"></i></div>
                <div class="filter-text"><p>Boats</p></div>
            </div>
            <div class="tax-switch ms-auto">
                <div class="tax-toggle  ">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after texes</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h2>All Listing</h2> -->
        
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(listing of allListing){ %>
                <a href="/listing/<%=listing._id%>" class="card-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b><br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                                <i class="tax-price">&nbsp;&nbsp;+18% GST</i>
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </body>
    <script>
        const taxSwitch= document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click",()=>{
            let taxPrice= document.getElementsByClassName("tax-price");
            // console.log(taxPrice);
            for(let info of taxPrice){
                if(info.style.display != "inline"){
                    info.style.display= "inline";
                }
                else{
                    info.style.display= "none";
                }
            }
        })
    </script>

